---
import Layout from "../layouts/Layout.astro";
import ProfileHeader from "../components/ProfileHeader.astro";
import SocialLinks from "../components/SocialLinks.astro";
import PrimaryNav from "../components/PrimaryNav.astro";
---

<Layout>
  <main class="min-h-screen px-6 py-16 flex flex-col items-center justify-center">
    <div class="w-full max-w-md text-center">

      <ProfileHeader
        name="James Bell"
        tagline="Building places and systems that scale"
      />

      <SocialLinks
        links={[
          { href: "https://linkedin.com/in/jsbellca", label: "LinkedIn", iconClass: "bi bi-linkedin" },
          { href: "https://youtube.com/@jsbellca", label: "YouTube", iconClass: "bi bi-youtube" },
          { href: "https://github.com/belljs", label: "GitHub", iconClass: "bi bi-github" },
        ]}
      />

      <PrimaryNav
        items={[
          { href: "/contact", label: "Contact" },
          { href: "/about", label: "About" },
          { href: "/posts", label: "Posts" },
          { href: "/resources", label: "Resources" },
        ]}
      />

    </div>
  </main>
</Layout>
